astroid==2.6.5
Click==8.0.1
colorama==0.4.4
fastapi==0.67.0
gunicorn==20.1.0
h11==0.12.0
isort==5.9.3
lazy-object-proxy==1.6.0
mccabe==0.6.1
numpy==1.19.5
pandas==1.2.5
pydantic==1.8.2
pylint==2.9.6
six==1.16.0
starlette==0.14.2
uvicorn==0.14.0
wrapt==1.12.1
